@import "bootstrap/dist/css/bootstrap.css";
body {
  background-image: url(./resources/background_veve.jpg);
  background-position: center;
  font-family: monospace;
  font-style: italic;
}

:root {
  --overlay-full: rgb(255,0,210);
  --overlay-mid: rgba(255,0,210,.5);
  --overlay-dim: rgba(255,0,210,.2);

  --text-bright: rgb(255, 46, 210);
  --text-mid: rgb(255,0,210);
  --font-large: 32pt;
  --font-med: 16pt;

  --borders: 2px solid var(--text-bright);

}
/* //////////////////////////// VAR \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.nav {
  background-color: var(--overlay-mid) !important;
  /* top: 0px !important;
  position: absolute !important; */
}

/* //////////////////////////// CONTAINERS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.border{
  border: var(--borders);
}
/* //////////////////////////// TEXT \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

h1, h2, h3, h4, h5, h6 {
  color: var(--text-bright);
  text-transform:uppercase;  
}

p, span, a {
  font-size:var(--font-med);
  color: var(--text-mid);
}

h1, h2 {
  font-size: var(--font-large);
}

h1 {
  font-weight: 800;
}

/* //////////////////////////// CARDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.card-cont{
  display: flex;
  flex-wrap: wrap;
  
}


.card {
  background-color: var(--overlay-dim);
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  max-width: 40vw;
  min-width: 20vw;
  padding: 5px;
  margin: 2px;
}

.windArrow {
  max-width: 5em;
  filter: invert();
}
